@import "../../../../css/variables.css";

.Component__row-listas {
  padding: 30px;
}

.Component__listas {
  background: #ffffff;
  padding: 30px !important;
}

.Component__listas__panel {
  background: #ffffff;
  padding: 15px !important;
  width: 100%;
}

/*MEDIA QUERYS*/
/*XS*/
@media (max-width: 575.98px) {
  .Component__row-listas {
    padding: 30px 15px;
  }

  .Component__listas {
    background: #ffffff;
    padding: 30px 15px !important;
  }

  .Component__listas__panel {
    padding: 15px 0px !important;
  }
}
