@import "../../../css/variables.css";

.modal-header {
  background: var(--azul);
  font-family: var(--font-cuerpo);
  align-items: center !important;
}

.modal-title {
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 600 !important;
  width: 100%;
  text-align: center;
}

.modal-body {
  font-family: var(--font-cuerpo) !important;
}

.modal-body button:last-child {
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px !important;
}

.close {
  color: #ffffff !important;
  box-shadow: none;
}

.close:focus {
  outline: none;
}
