@import "../../../css/variables.css";

/*GRAFICO*/
.HomeClient__container__row-grafico-movimientos {
  padding: 30px;
}

.HomeClient__container__grafico-movimientos-titulo {
  background: #ffffff;
  padding: 30px !important;
}

.HomeClient__container__grafico-movimientos-titulo h3 {
  font-family: var(--font-subtitulo);
  margin: 0;
  font-size: 30px;
  color: var(--azul-medio-oscuro);
}

.HomeClient__container__grafico-movimientos {
  background: #ffffff;
  padding: 0 30px 30px 30px !important;
}
/*FIN GRAFICO*/

/*RECORDATORIOS*/
.HomeClient__container__recordatorios-title {
  font-family: var(--font-subtitulo);
  margin: 0;
  font-size: 30px;
  color: var(--azul-medio-oscuro);
}
/*FIN RECORDATORIOS*/

/*FINANZAS*/
.HomeClient__container__finanzas h3 {
  font-family: var(--font-subtitulo);
  margin: 0;
  font-size: 30px;
  color: var(--azul-medio-oscuro);
}

.HomeClient__container__finanzas h4 {
  font-family: var(--font-subtitulo);
  color: var(--gray-oscuro);
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
}

/*FIN FINANZAS*/

/*LISTAS*/
.HomeClient__container__listas h3 {
  font-family: var(--font-subtitulo);
  margin: 0;
  font-size: 30px;
  color: var(--azul-medio-oscuro);
}

.HomeClient__container__listas h4 {
  font-family: var(--font-subtitulo);
  color: var(--gray-oscuro);
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
}
/*FIN LISTAS*/

/*Quitar estilos hover a los anchor*/
.HomeClient__container__recordatorios-title:hover,
.HomeClient__container__finanzas a:hover,
.HomeClient__container__listas a:hover {
  text-decoration: none;
}

@media (max-width: 425.98px) {
  .HomeClient__container__header__info div {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid var(--gray-claro);
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 30px !important;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .HomeClient__container__header__info div:last-child {
    padding-right: 30px;
    border-bottom: 0px solid var(--gray-claro);
    padding-bottom: 0px;
  }
}

@media (min-width: 426px) and (max-width: 575.98px) {
  .HomeClient__container__header__info div {
    border-right: 1px solid #ffffff;
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 30px !important;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .HomeClient__container__header__info div:last-child {
    padding-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .HomeClient__container__header__info div {
    border-right: 1px solid #ffffff;
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 30px !important;
    margin-bottom: 30px;
  }

  .HomeClient__container__header__info div:last-child {
    padding-right: 30px;
  }
}
